{# src/Sdz/BlogBundle/Resources/views/Blog/update.html.twig #}
{% extends "SdzBlogBundle::layout.html.twig" %}
{% block title %}
    Modifier un article - {{ parent() }}
{% endblock %}

{% block sdzblog_body %}
    <h2>Modifier un article</h2>
    {% include "SdzBlogBundle:Blog:form.html.twig" %}

    <p>
        <a href="{{ path('sdzblog_view', {'id': article.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à l'article
        </a>
    </p>
{% endblock %}